
body {
    color: rgb(202, 220, 223);
    background-color: rgb(45, 45, 45);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

#compress {
    font-size: 30px;
    border-style: solid;
    border-color: rgb(152, 152, 152);
    width: 33%;
    height: 5%;
}

#compressbtn {
    cursor: pointer;
}
